Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/FileContentIndex/38914f65-cf00-4763-b321-3c84e5f78fde.vsidx
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/.suo
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/Browse.VC.db
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/Browse.VC.db-shm
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/Browse.VC.db-wal
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/Browse.VC.opendb
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/DocumentLayout.json
Project_Whac-a-mole/.vs/Project_Whac-a-mole.slnx/v18/ipch/AutoPCH/6815248ca496836/MAIN.ipch
